*{
    box-sizing: border-box;
    font-family: "gilroy";
}



html,body{
    height:100%;
    width:100%;
}
nav{
    width:100%;
    height:100px;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 1vw;
    position: relative;
}
.menu{
    display: flex;
    gap:1vw;
}
.name{
    font-size: 1.2vw;
    font-weight: 700;
}
.menu h4{
    font-size: 1vm;
    font-weight: 700;
    position: relative;
    right:2vw;
}
.menu i{
    font-size:4vw;
    font-weight: 800;
    display: none;
    

}
.body_container{
    height: calc(100% - 100px);
    
    width: 100%;
}
img{
    height:40vw;
    width:35vw;
    padding: 1vw 1vw;
    margin: 1vw 1vw;
    
}
.intro{
    width:40%;
    height:2vw;
    
    position:sticky;
    float: right;
    bottom: 500px;
    right:15%;
    
}
@media (max-width:600px) {

    nav{
        padding: 0 5vw;
    }

    .name{
        font-size:3.4vw;
    }
    .menu h4{
        display: none;
    }
    .menu i{
        display:inline-block;
        font-size:10vw;
        font-weight: 800;
        padding-right: 2vw;
        
    }
    .intro{
        width:40%;
        height:2vw;
        
        position:sticky;
        float: right;
        bottom: 800px;
        right:15%;
        font-weight:400;
        }
    .image{
            position:sticky;
            top:2.9vw;
    }
    .about{
        height: 50px;
        
        position: relative;
        top:15px;

    }

    
}
